garage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="garage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="vehicle">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="make" type="xs:string" />
              <xs:element name="model" type="xs:string" />
              <xs:element name="year" type="xs:gYear" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>